@font-face {
    font-family: 'Homoneta';
    src: url('assets/Homoneta-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Homoneta Italic';
    src: url('assets/Homoneta-Italic.woff') format('woff');
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    overflow-anchor: none;
}

header {
  background-image: url('https://rllngr.github.io/La-Toile-Jukebox-Code-Makers/assets/header.svg');
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

nav {
  font-family: "Poppins", sans-serif;
  background: white;
  padding-bottom: 10px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

nav li a {
  font-weight: bold;
  color: #4b4b4b;
}

nav a {
  text-decoration: none;
  color: #4b4b4b;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #e2001a;
}

footer {
  background: #e2001a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

html, h1, h2, h3, h4{
    margin: 0;
}

body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 95, 244, 1) 35%, rgba(255, 0, 179, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    font-family: 'Homoneta', sans-serif;
}
section {
    margin: 2% 5%;
}

#album, #discography{
    display: flex;
    height: 100vh;
}

.album{
    width: 45vw;
    height: 60vh;
}

#album img{
    width: 100%;
}


#tracklist{
    margin: 20% 0% 9% 24%;
}

h1 {
    color: rgb(255, 0, 179);
    font-size: 5em;
    margin: 0;
}

h2, .symbol {
    color: rgb(255, 95, 244);
}

h3, h4{
    color: white;
    font-family: 'Homoneta Italic';
    font-size: 2em;
}

img{
   width: 30vw;
   border: rgb(255,0,179) solid 16px;
}

ul {
    list-style: none;
}

#discography-list{
    display: flex;
    padding-top: 7%;
}

#discography-list li {
    padding: 0px 16px;
}

ol{
    color: white;
}

ol a, ul a{
    text-decoration: none;
    color: white;
}

a:hover, ul a:hover{
    color: #980077;
}

.date{
    font-family:'Homoneta', sans-serif;
}

.symbol{
    font-family: sans-serif;
    font-weight: 300;
}